sf/os/commsfw/commsfwtools/preparedefaultcommsdatabase/Tools/cfg2xml/com/symbian/commdb/base_schema/CommTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright (c) 2004-2009 Nokia Corporation and/or its subsidiary(-ies).
    All rights reserved.
    This component and the accompanying materials are made available
    under the terms of "Eclipse Public License v1.0"
    which accompanies this distribution, and is available
    at the URL "http://www.eclipse.org/legal/epl-v10.html".

    Initial Contributors:
    Nokia Corporation - initial contribution.
    
    Description:
        CommTypes.xsd
        XML Schema File with definitions of types used
        in the Communication components of Symbian OS
-->
<xsd:schema elementFormDefault="qualified" xmlns="SymbianOS.Generic.Comms" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <!--
          Symbian "TFlag" primitive
      -->
      <xsd:simpleType name="TFlag">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
            </xsd:restriction>
      </xsd:simpleType>                  
      <!--
          Definition of the OperationType type
      -->
      <xsd:simpleType name="OperationType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="add"/>
                  <xsd:enumeration value="template"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the AgentType type
      -->
      <xsd:simpleType name="AgentType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="CSD.agt"/>
                  <xsd:enumeration value="PSD.agt"/>
                  <xsd:enumeration value="NULL.agt"/>
                  <xsd:enumeration value="mRouterAgent.agt"/>
                  <xsd:enumeration value="VPN.agt"/>
                  <xsd:enumeration value="ntras.agt"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the DataBitsType type
      -->
      <xsd:simpleType name="DataBitsType">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="5"/>
                  <xsd:enumeration value="6"/>
                  <xsd:enumeration value="7"/>
                  <xsd:enumeration value="8"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the StopBitsType type
      -->
      <xsd:simpleType name="StopBitsType">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the ParityType type
      -->
      <xsd:simpleType name="ParityType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="NONE"/>
                  <xsd:enumeration value="EVEN"/>
                  <xsd:enumeration value="ODD"/>
                  <xsd:enumeration value="MARK"/>
                  <xsd:enumeration value="SPACE"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the RateType type
      -->
      <xsd:simpleType name="RateType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="50"/>
                  <xsd:enumeration value="75"/>
                  <xsd:enumeration value="110"/>
                  <xsd:enumeration value="134"/>
                  <xsd:enumeration value="150"/>
                  <xsd:enumeration value="300"/>
                  <xsd:enumeration value="600"/>
                  <xsd:enumeration value="1200"/>
                  <xsd:enumeration value="1800"/>
                  <xsd:enumeration value="2000"/>
                  <xsd:enumeration value="2400"/>
                  <xsd:enumeration value="3600"/>
                  <xsd:enumeration value="4800"/>
                  <xsd:enumeration value="7200"/>
                  <xsd:enumeration value="9600"/>
                  <xsd:enumeration value="19200"/>
                  <xsd:enumeration value="38400"/>
                  <xsd:enumeration value="57600"/>
                  <xsd:enumeration value="115200"/>
                  <xsd:enumeration value="230400"/>
                  <xsd:enumeration value="460800"/>
                  <xsd:enumeration value="576000"/>
                  <xsd:enumeration value="1152000"/>
                  <xsd:enumeration value="4000000"/>
                  <xsd:enumeration value="AUTO"/>
                  <xsd:enumeration value="SPECIAL"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the FaxClassType type
      -->
      <xsd:simpleType name="FaxClassType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="AUTO"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="1.0"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="2.0"/>
                  <xsd:enumeration value="2.1"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the SpeakerType type
      -->
      <xsd:simpleType name="SpeakerType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="NEVER"/>
                  <xsd:enumeration value="UNTILCALLANSWERED"/>
                  <xsd:enumeration value="ALWAYS"/>
                  <xsd:enumeration value="AFTERDIALUNTILANSWER"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the SpeakerVolType type
      -->
      <xsd:simpleType name="SpeakerVolType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="QUIET"/>
                  <xsd:enumeration value="MEDIUM"/>
                  <xsd:enumeration value="LOUD"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the GPRSClassCBearerType type
      -->
      <xsd:simpleType name="GPRSClassCBearerType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="GPRS"/>
                  <xsd:enumeration value="GSM"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the ISPType type
      -->
      <xsd:simpleType name="ISPType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="INTERNETONLY"/>
                  <xsd:enumeration value="WAPONLY"/>
                  <xsd:enumeration value="INTERNETANDWAP"/>
            </xsd:restriction>
      </xsd:simpleType>
      
           
      <!--
          Definition of the BearerNameType type
      -->
      <xsd:simpleType name="BearerNameType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="ASYNCHRONOUS"/>
                  <xsd:enumeration value="ASYNCHRONOUSRDI"/>
                  <xsd:enumeration value="SYNCHRONOUS"/>
                  <xsd:enumeration value="SYNCHRONOUSRDI"/>
                  <xsd:enumeration value="PADSYNCUDI"/>
                  <xsd:enumeration value="PADSYNCRDI"/>
                  <xsd:enumeration value="DADS"/>
                  <xsd:enumeration value="ACCESSSYNCRDI"/>
                  <xsd:enumeration value="SERVICEEXTENDED"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the BearerSpeedType type
      -->
      <xsd:simpleType name="BearerSpeedType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNSPECIFIED"/>
                  <xsd:enumeration value="AUTOBAUDING"/>
                  <xsd:enumeration value="2400"/>
                  <xsd:enumeration value="4800"/>
                  <xsd:enumeration value="9600"/>
                  <xsd:enumeration value="14400"/>
                  <xsd:enumeration value="19200"/>
                  <xsd:enumeration value="28800"/>
                  <xsd:enumeration value="33600"/>
                  <xsd:enumeration value="38400"/>
                  <xsd:enumeration value="56000"/>
                  <xsd:enumeration value="64000"/>
            </xsd:restriction>
      </xsd:simpleType>
        <!--
          Definition of the BearerProtocolType type
      -->
      <xsd:simpleType name="BearerProtocolType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNSPECIFIED"/>
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="V22BIS"/>
                  <xsd:enumeration value="V32"/>
                  <xsd:enumeration value="V34"/>
                  <xsd:enumeration value="V110"/>
                  <xsd:enumeration value="V120"/>
                  <xsd:enumeration value="X31FLAGSTUFFING"/>
                  <xsd:enumeration value="PIAFS"/>
                  <xsd:enumeration value="BITTRANSPARENT"/>
                  <xsd:enumeration value="PSTNMULTIMEDIAVOICEFALLBACK"/>
                  <xsd:enumeration value="PSTNMULTIMEDIA"/>
                  <xsd:enumeration value="ISDNMULTIMEDIA"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the BearerCEType type
      -->
      <xsd:simpleType name="BearerCEType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNSPECIFIED"/>
                  <xsd:enumeration value="TRANSPARENT"/>
                  <xsd:enumeration value="NONTRANSPARENT"/>
                  <xsd:enumeration value="TRANSPARENTPREF"/>
                  <xsd:enumeration value="NONTRANSPARENTPREF"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the DialBearerType type
      -->
      <xsd:simpleType name="DialBearerType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="CSD"/>
                  <xsd:enumeration value="HSCSD"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the ChannelCodingType type
      -->
      <xsd:simpleType name="ChannelCodingType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNSPECIFIED"/>
                  <xsd:enumeration value="48"/>
                  <xsd:enumeration value="96"/>
                  <xsd:enumeration value="144"/>
                  <xsd:enumeration value="288"/>
                  <xsd:enumeration value="320"/>
                  <xsd:enumeration value="432"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the AIURType type
      -->
      <xsd:simpleType name="AIURType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNSPECIFIED"/>
                  <xsd:enumeration value="9600"/>
                  <xsd:enumeration value="14400"/>
                  <xsd:enumeration value="19200"/>
                  <xsd:enumeration value="28800"/>
                  <xsd:enumeration value="38400"/>
                  <xsd:enumeration value="43200"/>
                  <xsd:enumeration value="57600"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the RlpModeType type
      -->
      <xsd:simpleType name="RlpModeType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNKNOWN"/>
                  <xsd:enumeration value="TRANSPARENT"/>
                  <xsd:enumeration value="NONTRANSPARENT"/>
                  <xsd:enumeration value="TRANSPARENTPREF"/>
                  <xsd:enumeration value="NONTRANSPARENTPREF"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the DialIfCallbackType type
      -->
      <xsd:simpleType name="DialIfCallbackType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="IETF0"/>
                  <xsd:enumeration value="IETF1"/>
                  <xsd:enumeration value="IETF2"/>
                  <xsd:enumeration value="IETF3"/>
                  <xsd:enumeration value="IETF4"/>
                  <xsd:enumeration value="IETF5"/>
                  <xsd:enumeration value="MSCBCPCLIENTNUM"/>
                  <xsd:enumeration value="MSCBCPSERVERNUM"/>
                  <xsd:enumeration value="MSCBCPOVERRRIDESERVERNUM"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the PDPServiceType type
      -->
      <xsd:simpleType name="PDPServiceType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="IPV4"/>
                  <xsd:enumeration value="IPV6"/>
                  <xsd:enumeration value="X25"/>
                  <xsd:enumeration value="PPP"/>
                  <xsd:enumeration value="CDPD"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the CDMAPriorityType type
      -->
      <xsd:simpleType name="CDMAPriorityType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="PRIORITY00"/>
                  <xsd:enumeration value="PRIORITY01"/>
                  <xsd:enumeration value="PRIORITY02"/>
                  <xsd:enumeration value="PRIORITY03"/>
                  <xsd:enumeration value="PRIORITY04"/>
                  <xsd:enumeration value="PRIORITY05"/>
                  <xsd:enumeration value="PRIORITY06"/>
                  <xsd:enumeration value="PRIORITY07"/>
                  <xsd:enumeration value="PRIORITY08"/>
                  <xsd:enumeration value="PRIORITY09"/>
                  <xsd:enumeration value="PRIORITY10"/>
                  <xsd:enumeration value="PRIORITY11"/>
                  <xsd:enumeration value="PRIORITY12"/>
                  <xsd:enumeration value="PRIORITY13"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the CDMABitrateType type
      -->
      <xsd:simpleType name="CDMABitrateType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="8KBPS"/>
                  <xsd:enumeration value="32KBPS"/>
                  <xsd:enumeration value="64KBPS"/>
                  <xsd:enumeration value="144KBPS"/>
                  <xsd:enumeration value="384KBPS"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the CDMAServiceOptionType type
      -->
      <xsd:simpleType name="CDMAServiceOptionType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="LOWSPEEDDATA"/>
                  <xsd:enumeration value="HIGHSPEEDDATA"/>
                  <xsd:enumeration value="LOW_AND_HIGHSPEEDDATA"/>
                  <xsd:enumeration value="HIGHSPEEDCDMA2000DATA"/>
                  <xsd:enumeration value="LOW_AND_HIGHSPEEDCDMA2000DATA"/>
                  <xsd:enumeration value="HIGH_AND_HIGHSPEEDCDMA2000DATA"/>
                  <xsd:enumeration value="LOW_AND_HIGH_AND_HIGHSPEEDCDMA2000DATA"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the CDMALossType type
      -->
      <xsd:simpleType name="CDMALossType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="LOSS1"/>
                  <xsd:enumeration value="LOSS2"/>
                  <xsd:enumeration value="LOSS5"/>
                  <xsd:enumeration value="LOSS10"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the CDMAMaxDelayType type
      -->
      <xsd:simpleType name="CDMAMaxDelayType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="CLASS"/>
                  <xsd:enumeration value="CLASS1"/>
                  <xsd:enumeration value="CLASS2"/>
                  <xsd:enumeration value="CLASS3"/>
                  <xsd:enumeration value="CLASS4"/>
                  <xsd:enumeration value="40MS"/>
                  <xsd:enumeration value="120MS"/>
                  <xsd:enumeration value="360MS"/>
            </xsd:restriction>
      </xsd:simpleType>
      
      
      <!--
      	  Definition of the CDMAApType type 
      -->
      <xsd:simpleType name="CDMAApType">
             <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
            </xsd:restriction>
      </xsd:simpleType>
      
      
      <!--
          Definition of the DirectionType type
      -->
      <xsd:simpleType name="DirectionType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNKNOWN"/>
                  <xsd:enumeration value="OUTGOING"/>
                  <xsd:enumeration value="INCOMING"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the RankingType type
      -->
      <xsd:simpleType name="RankingType">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the DialogPrefType type
      -->
      <xsd:simpleType name="DialogPrefType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNKNOWN"/>
                  <xsd:enumeration value="PROMPT"/>
                  <xsd:enumeration value="WARN"/>
                  <xsd:enumeration value="DONOTPROMPT"/>
                  <xsd:enumeration value="PROMPTIFWRONGMODE"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the WLANDialogPrefType type
      -->
      <xsd:simpleType name="WLANDialogPrefType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNKNOWN"/>
                  <xsd:enumeration value="PROMPT"/>
                  <xsd:enumeration value="WARN"/>
                  <xsd:enumeration value="DONOTPROMPT"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the BearerSetType type
      -->
      <xsd:simpleType name="BearerSetType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="UNKNOWN"/>
                  <xsd:enumeration value="CSD"/>
                  <xsd:enumeration value="WCDMA"/>
                  <xsd:enumeration value="LAN"/>
                  <xsd:enumeration value="CDMA2000"/>
                  <xsd:enumeration value="PSD"/>
                  <xsd:enumeration value="CSD &amp; WCDMA"/>
                  <xsd:enumeration value="CSD &amp; PSD"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the WSPOptionType type
      -->
      <xsd:simpleType name="WSPOptionType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="CONNECTIONLESS"/>
                  <xsd:enumeration value="CONNECTIONORIENTED"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the WAPBearerType type
      -->
      <xsd:simpleType name="WAPBearerType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="WAPIPBearer"/>
                  <xsd:enumeration value="WAPSMSBearer"/>
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the TableEntryNameType
      -->
      <xsd:simpleType name="TableEntryNameType">
            <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <!--
          Definition of the BearerType type
      -->
      <xsd:simpleType name="IAPBearerType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="ModemBearer"/>
                  <xsd:enumeration value="LANBearer"/>
                  <xsd:enumeration value="VirtualBearer"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the IAPServiceType type
      -->
      <xsd:simpleType name="IAPServiceType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="CDMA2000PacketService"/>           
                  <xsd:enumeration value="DialInISP"/>
                  <xsd:enumeration value="DialOutISP"/>
                  <xsd:enumeration value="IncomingGPRS"/>                  
                  <xsd:enumeration value="OutgoingGPRS"/>
                  <xsd:enumeration value="VpnService"/>                
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the LocationForDataAndFaxType type
      -->
      <xsd:simpleType name="LocationForDataAndFaxType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Location"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the LocationForPhoneServicesAndSMSType type
      -->
      <xsd:simpleType name="LocationForPhoneServicesAndSMSType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Location"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the ChargecardRefType type
      -->
      <xsd:simpleType name="ChargecardRefType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Chargecard"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the LocationRefType type
      -->
      <xsd:simpleType name="LocationRefType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Location"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the IAPNetworkType type
      -->
      <xsd:simpleType name="IAPNetworkType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Network"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the SMSBearerType type
      -->
      <xsd:simpleType name="SMSBearerType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="WAPSMSBearer"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the DefaultNetworkType type
      -->
      <xsd:simpleType name="DefaultNetworkType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Network"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the IAPRefType type
      -->
      <xsd:simpleType name="IAPRefType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="IAP"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the ISPRefType type
      -->
      <xsd:simpleType name="ISPRefType">
            <xsd:restriction base="xsd:string">
            	  <xsd:enumeration value="CDMA2000PacketService"/>
                  <xsd:enumeration value="DialInISP"/>
                  <xsd:enumeration value="DialOutISP"/>
		  <xsd:enumeration value="IncomingGPRS"/>
                  <xsd:enumeration value="OutgoingGPRS"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the AccessPointType type
      -->
      <xsd:simpleType name="AccessPointType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="WAPAccessPoint"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the WAPAccessType type
      -->
      <xsd:simpleType name="WAPAccessType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="WAPAccessPoint"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the HomeIAPType type
      -->
      <xsd:simpleType name="HomeIAPType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="IAP"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the HomeNetworkType type
      -->
      <xsd:simpleType name="HomeNetworkType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Network"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the CDMAOpCapability type. Values:
          1 - Simple IP
          2 - Mobile IP	
          4 - Mobile IP with Simple IP fallback
      -->      
      <xsd:simpleType name="CDMAOpCapability">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="4"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the CDMASimpIpAuthCapability type. Values:
          1 - CHAP supported
          2 - PAP supported
      -->      
      <xsd:simpleType name="CDMASimpIpAuthCapability">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the CDMAMIpAuthCapability type. Values:
          1 - MD5 supported
      -->
      <xsd:simpleType name="CDMAMIpAuthCapability">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="1"/>
            </xsd:restriction>
      </xsd:simpleType>            
      <!--
          Definition of the CDMAOpMode type. Values:
          0 - Simple IP
          1 - Simple IP with Mobile IP fallback
          2 - Mobile IP
      -->
      <xsd:simpleType name="CDMAOpMode">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the CDMANaiType type. Values:
          0 - Simple IP
          1 - Mobile IP
      -->      
      <xsd:simpleType name="CDMANaiType">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the CDMASimpIpAuthAlgorithm type. Values:
          0 - No authentication
          1 - CHAP
          2 - PAP
          3 - CHAP with PAP fallback
      -->      
      <xsd:simpleType name="CDMASimpIpAuthAlgorithm">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the CDMAMIpAuthAlgorithm type. Values:
          0 - No authentication
          1 - MD5
      -->      
      <xsd:simpleType name="CDMAMIpAuthAlgorithm">
            <xsd:restriction base="xsd:unsignedInt">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
            </xsd:restriction>
      </xsd:simpleType>            
      <!--
          Definition of the PANRoleType type
      -->
      <xsd:simpleType name="PANRoleType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="PANU"/>
                  <xsd:enumeration value="PANNAP"/>
                  <xsd:enumeration value="PANUNKNOWN"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the WLANEncryptionType type
      -->
      <xsd:simpleType name="WLANEncryptionType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="NONE"/>
                  <xsd:enumeration value="Static WEP"/>
                  <xsd:enumeration value="TKIP"/>
                  <xsd:enumeration value="AES"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the WLANNetworkType type
      -->
      <xsd:simpleType name="WLANNetworkType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Infrastructure"/>
                  <xsd:enumeration value="Ad-Hoc"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the WLANDesiredTransmitRateType type
      -->
      <xsd:simpleType name="WLANDesiredTransmitRateType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1 Mbps"/>
                  <xsd:enumeration value="2 Mbps"/>
                  <xsd:enumeration value="5.5 Mbps"/>
                  <xsd:enumeration value="11 Mbps"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the WLANPowerSaveModeType type
      -->
      <xsd:simpleType name="WLANPowerSaveModeType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Disabled"/>
                  <xsd:enumeration value="Fast Powersave mode"/>
                  <xsd:enumeration value="Max Powersave mode"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the WLANPreambleType type
      -->
      <xsd:simpleType name="WLANPreambleType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Short"/>
                  <xsd:enumeration value="Long"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the WLANRegDomainType type
      -->
      <xsd:simpleType name="WLANRegDomainType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="FCC"/>
                  <xsd:enumeration value="IC"/>
                  <xsd:enumeration value="ETSI"/>
                  <xsd:enumeration value="Spain"/>
                  <xsd:enumeration value="France"/>
                  <xsd:enumeration value="MKK"/>                  
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the Wlan_Security_DataType type
      -->
      <xsd:simpleType name="Wlan_Security_DataType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="EAPSecuritySettings"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the OuterEapMethodType type
      -->
      <xsd:simpleType name="EAPSecOuterEAPType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="EAP-MD5"/>
                  <xsd:enumeration value="EAP-TLS"/>
                  <xsd:enumeration value="EAP-TTLS"/>
                  <xsd:enumeration value="PEAP"/>
                  <xsd:enumeration value="LEAP"/>
                  <xsd:enumeration value="EAP-SIM"/>
                  <xsd:enumeration value="EAP-AKA"/>
                  <xsd:enumeration value="EAP-MSCHAPv2"/>                  
            </xsd:restriction>
      </xsd:simpleType>
      <!--
          Definition of the EAP_Method_Data type
      -->
      <xsd:simpleType name="EAP_Method_DataType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="TUNEAPSecuritySettings"/>
                  <xsd:enumeration value="TLSEAPSecuritySettings"/>
                  <xsd:enumeration value="LEAPSecuritySettings"/>
            </xsd:restriction>
      </xsd:simpleType>      
      <!--
          Definition of the TUNEAPInnerType type
      -->
      <xsd:simpleType name="TUNEAPInnerType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="EAP-MD5"/>
                  <xsd:enumeration value="EAP-MSCHAPv2"/>                  
            </xsd:restriction>
      </xsd:simpleType>  
      <!--
          Definition of the TUN_EAP_DATA type
      -->
      <xsd:simpleType name="TUN_EAP_DATAType">
            <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="EAPSecuritySettings"/>
            </xsd:restriction>
      </xsd:simpleType>      
</xsd:schema>
