sf/os/commsfw/commsfwtools/preparedefaultcommsdatabase/Tools/cfg2xml/com/symbian/commdb/base_schema/ModemBearerTable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Copyright (c) 2003-2009 Nokia Corporation and/or its subsidiary(-ies).
    All rights reserved.
    This component and the accompanying materials are made available
    under the terms of "Eclipse Public License v1.0"
    which accompanies this distribution, and is available
    at the URL "http://www.eclipse.org/legal/epl-v10.html".

    Initial Contributors:
    Nokia Corporation - initial contribution.
    
    Description:
        ModemBearerTable.xsd
        XML Schema with the definitions of the
        Modem Bearer Table for CommDB
-->
<xsd:schema elementFormDefault="qualified" targetNamespace="SymbianOS.Generic.Comms-Infras.CommDB"
      xmlns="SymbianOS.Generic.Comms-Infras.CommDB" xmlns:xlink="http://www.w3.org/1999/xlink" 
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <!--
          Include Symbian primitives and Comms elements
      -->
      <xsd:include schemaLocation="PrimitiveTypes.xsd"/>
      <xsd:include schemaLocation="CommTypes.xsd"/>
      <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="XLinkAttributes.xsd"/>
      <!-- 
          Definition of the ModemBearerTable element
      -->
      <xsd:element name="ModemBearerTable">
            <xsd:complexType>
                  <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ModemBearer"/>
                  </xsd:sequence>
                  <xsd:attribute ref="xlink:type"/>
            </xsd:complexType>
      </xsd:element>
      <!--
          Definition of the ModemBearer element
      -->
      <xsd:element name="ModemBearer">
            <xsd:complexType>
                  <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="Hidden" type="TBool"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="ReadOnly" type="TBool"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="Text"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="Agent" type="AgentType"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="IfName" type="Text"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="BCAStack" type="Text"/>						
						<xsd:element minOccurs="1" maxOccurs="1" name="ControlChannelPortName" type="Text"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="PortName" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="TSYName" type="Text"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="CSYName" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="DataBits" type="DataBitsType"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="StopBits" type="StopBitsType"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Parity" type="ParityType"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="Rate" type="RateType"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Handshaking" type="TUint32"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpecialRate" type="TUint32"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="XonChar" type="TUint8"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="XoffChar" type="TUint8"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="FaxClassPref" type="FaxClassType"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerPref" type="SpeakerType"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerVolPref" type="SpeakerVolType"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="ModemInitString" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="DataInitString" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="FaxInitString" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="IspInitString" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="DialPauseLength" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CarrierTimeout" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="AutoAnswerRingCount" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerVolContorlLow" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerVolControlMedium" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerVolControlHigh" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerAlwaysOff" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerOnUntilCarrier" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerAlwaysOn" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SpeakerOnAfterUntilCarrier" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="DialToneWaitModifier" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CallProgress1" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CallProgress2" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CallProgress3" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CallProgress4" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="EchoOff" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="VerboseText" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="QuietOff" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="QuietOn" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="DialCommandStateModifier" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="OnLine" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="ResetConfiguration" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="ReturnToFactoryDefs" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="DCDOnDuringLink" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="DTRHangUp" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="DSRAlwaysOn" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="RTSCTSHandshake" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="XonXoffHandshake" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="EscapeCharacter" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="EscapeGuardPeriod" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="FaxClassInterrogate" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="FaxClass" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="NoDialTone" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Busy" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="NoAnswer" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Carrier" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Connect" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CompressionClass5" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CompressionV42bis" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CompressionNone" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="ProtocolLAPD" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="ProtocolALT" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="ProtocolALTCELLULAR" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="ProtocolNone" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="MessageCentreNumber" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="MessageValidityPeriod" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="MessageDeliveryReport" type="TBool"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="MinimumSignalLevel" type="Text"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="LastSocketActivityTimeout" type="TUint32"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="LastSessionClosedTimeout" type="TUint32"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="LastSocketClosedTimeout" type="TUint32"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="SIRSettings" type="TUint32"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="CommRole" type="TUint32"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="BearerTechnology" type="TUint32"/>
                  </xsd:all>
                  <xsd:attribute ref="xlink:title"/>
                  <xsd:attribute ref="xlink:role"/>
                  <xsd:attribute ref="xlink:type"/>
                  <xsd:attribute name="operation" type="OperationType"/>
            </xsd:complexType>
      </xsd:element>
</xsd:schema>
