sf/os/buildtools/imgtools_os/romkiteka2/tools/featureuids.dtd

<!ELEMENT featureuids   (features,default)>
<!ELEMENT features      (feature+)>
<!ELEMENT feature       EMPTY>

<!ATTLIST feature
        name            CDATA #REQUIRED
        uid             CDATA #REQUIRED
        installable     (true|false) #IMPLIED>

<!ELEMENT default       (range+)>
<!ELEMENT range         EMPTY>
<!ATTLIST range
        min             CDATA #REQUIRED
        max             CDATA #REQUIRED
        support         (include|exclude) #REQUIRED>
        
